<div class='container'>
  <h2>Check In</h2>
  <form>
    <div class='input-group mb-3'>
      <span class='input-group-text' id='checkIn'>✔️</span>
      <input
        type='number'
        class='form-control'
        placeholder='Card number'
        aria-label='Card number'
        aria-describedby='submit-button'
        min='0'
        max='9999'
        required
      />
      <button
        class='btn btn-outline-secondary'
        type='button'
        id='submit-button'
      >
        Submit
      </button>
    </div>
  </form>
</div>