<div class='container'>
  <h2>Qrcode</h2>
  <div
    class='btn-group btn-group-lg d-flex'
    role='group'
    aria-label='qr code button'
  >
    <a
      class='btn btn-outline-warning'
      href='kakaotalk://qrcheckin?callingPkg=TalkWidgetExtension'
      role='button'
    >Kakao</a>
    <a
      class='btn btn-outline-success'
      href='supertoss://qr-checkin?referrer=widget'
      role='button'
    >Naver</a>
    <a
      class='btn btn-outline-primary'
      href='naversearchapp://opennadot?cardId=QRCheckIn&character=brown&nclick=nappwiq.qrcheckin&referer=widget&version=46'
      role='button'
    >Toss</a>

  </div>
</div>