<div class='container'>
  <div class='position-absolute top-50 start-50 translate-middle'>
    <h2>42 CHECK-IN</h2>
    <div class='btn-group'>
      <a href='#' class='btn btn-secondary' disabled>Guest</a>
      <a href='/auth/42' class='btn btn-primary'>Sign in</a>
    </div>
  </div>
</div>