<div class='container'>
  <h2>Check In</h2>
  <div id='alertPlaceholder'></div>
  <form action='/checkIn' method='post'>
    <div class='input-group mb-3'>
      <span class='input-group-text' id='checkIn'>✔️</span>
      <input
        name='cardId'
        type='number'
        class='form-control'
        placeholder='Card number'
        aria-label='Card number'
        aria-describedby='submit-button'
        required
      />
      <button
        class='btn btn-outline-secondary'
        type='submit'
        id='submit-button'
      >
        Submit
      </button>
    </div>
  </form>
</div>